.logoutContainer {
  display: flex;
  justify-content: flex-end; 
  margin: 24px;
}

#logoutBtn {
  font-size: 16px;
}

.tabContainer {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.tabBtns {
  display: flex;
  background-color: #f5f5f5;
}

.tab {
  flex: 1;
  font-size: 20px;
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s;
  color: black;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab.active {
  background-color:green;
  color: #fff;
}

.tabContent {
  padding: 20px;
  background-color: #fff;
}

.tabPanel {
  display: none;
}

.tabPanel.active {
  display: block;
}

.users-table,.artists-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.users-table th,.artists-table th, .users-table td,.artists-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.users-table th,.artists-table th {
  background-color: #e0e0e0;
}

.pagination{
  margin-top: 8px;
}

.pagination button{
  margin: 0 4px ;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.close {
  float: right;
  cursor: pointer;
}
.form-group {
  margin-bottom: 10px;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.full-width {
  grid-column: span 2;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  flex: 1;
  padding-right: 40px; 
}

.password-container img {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#deleteBtn {
  background: rgb(211, 3, 3);
 
}