.logoutContainer {
  display: flex;
  justify-content: flex-end; 
  margin: 24px;
}

#logoutBtn {
  font-size: 16px;
}

.tabContainer {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.tabBtns {
  display: flex;
  background-color: #f5f5f5;
}

.tab {
  flex: 1;
  font-size: 20px;
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s;
  color: black;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab.active {
  background-color:green;
  color: #fff;
}

.tabContent {
  padding: 20px;
  background-color: #fff;
}

.tabPanel {
  display: none;
}

.tabPanel.active {
  display: block;
}

.users-table,.artists-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.users-table th,.artists-table th, .users-table td,.artists-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.users-table th,.artists-table th {
  background-color: #e0e0e0;
}

.pagination{
  margin-top: 8px;
}

.pagination button{
  margin: 0 4px ;
}