body{
  padding: 24px;
}

.songs-table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 10px;
}

.songs-table th,
.songs-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.songs-table th {
  background-color: #e0e0e0;
}

.delete-song {
  background: rgb(211, 3, 3);
}

.modal {
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.modal input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}


.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.close {
  float: right;
  cursor: pointer;
}

select {
  margin-bottom: 12px;
}